
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

@import 'setting.scss';
@import 'form.scss';

*, *:before, *:after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  font-family: 'Noto Sans', sans-serif;
}

body {
  font-size: $font-standard;
  color: #4a4c58;
  min-height: 100vh;
  height: 100%;
  background-color: #ededed;
}

#app {
  width: 100%;
  height: calc(100vh - 80px);

  ::selection {
    color: $white;
    background: $represent-color;
  }
  h1 {
    @include setFontSizeAndLine (32, 1, bold);
  }
  h2 {
    @include setFontSizeAndLine (24, 1.2, bold);
  }
  h3 {
    @include setFontSizeAndLine (18, 1, bold);
  }
  p, blockquote, detail, label {
    @include setFontSizeAndLine (14, 1.5, normal);
  }
  small {
    display: block;
    @include setFontSizeAndLine (12, 1.5, normal);
  }
  a {
    cursor: pointer;
    text-decoration: none;
  }
  ul {
    padding: 0px;
  }
  ul li {
    list-style: none;
  }
  img {
    max-width: 100%;
  }
  main {
    padding: 35px 50px;
  }
  strong {
    font-weight: bold;
  }
  .container {
    padding: 0px;
    width: 1280px;
    margin:0 auto;
  }
  .container-wide {
    width: 100%;
    margin:0 auto;
  }
  /* flex wrapper*/
  .flex-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* clearfix */
  .clearfix::after {
    content: '';
    display: table;
    clear: both;
  }
  .clear {
    clear: both;
  }

  /* css float*/
  .pull-left {
    float: left;
  }
  .pull-right {
    float: right;
  }
  .danger {
    color: $danger;
  }
  /* text align */
  .text-center {
    text-align: center;
  }
  .text-left {
    text-align: left;
  }
  .text-right {
    text-align: right;
  }

  .font-36 {
    font-size:  36px !important;
  }
  .font-32 {
    font-size:  32px !important;
  }
  .font-24 {
    font-size:  24px !important;
  }
  .font-20 {
    font-size: 20px !important;
  }
  .font-18 {
    font-size: 18px !important;
  }
  .font-10 {
    font-size: 10px !important;
  }

  @include config-font-color('font-',
    'white' #fff,
    'black' #000,
    'placeholder' #c5c5c5
  );

  .bold {
    font-weight: bold;
  }
  .center-align {
    text-align: center !important;
  }
  .no-padding {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
/* margin */
  @include config-margin-top('margin-top-',
    '15' 15px,
    '20' 20px,
    '25' 25px,
    '30' 30px,
    '35' 35px,
    '40' 40px,
    '50' 50px,
    '60' 60px,
    '70' 70px,
    '80' 80px,
    '90' 90px,
    '100' 100px
  );
  @include config-margin-bottom('margin-bottom-',
    '15' 15px,
    '20' 20px,
    '25' 25px,
    '30' 30px,
    '35' 35px,
    '40' 40px,
    '50' 50px,
    '60' 60px,
    '70' 70px,
    '80' 80px,
    '90' 90px,
    '100' 100px
  );
  /* ---- Common Components ---- */


  /* Emart Buttons */
  .emart-btn {
    position:relative;
    display: inline-block;
    color: $represent-color;
    text-align: center;
    border-radius: 21px;
    background-color: #ffffff;
    border: solid 2px $represent-color;
    cursor: pointer;

    &:hover {
      color:#fff;
      background-color: $represent-color;
      text-decoration:none;
    }
    &:disabled,
    &.disabled{
      opacity: 0.3;
      pointer-events: none;
    }
    &.btn-sm {
      font-size: 12px;
      font-weight: bold;
      line-height: 1.2;
      padding: 5px 20px;
      margin: 2px;
    }
    &.btn-md {
      font-size: 15px;
      font-weight: bold;
      line-height: 1.2;
      padding: 10px 30px;
    }
    &.btn-lg {
      font-size: 15px;
      font-weight: bold;
      line-height: 1.2;
      padding: 10px 48px;
      margin: 10px;
    }
    &.loading {
      background-color: $represent-color;
      color:transparent;
      &:before {
        content:'';
        width:8px;
        height:8px;
        border-radius:100%;
        background-color:#fff;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        animation: btnLoading 2s infinite ease;
      }

      @-webkit-keyframes btnLoading{
        0% {
          left: 30%;
        }
        50% {
          left: 70%;
        }
        100% {
          left: 30%;
        }
      }
      @keyframes btnLoading{
        0% {
          left: 30%;
        }
        50% {
          left: 70%;
        }
        100% {
          left: 30%;
        }
      }
    }
  }
  /* END BUTTONS  */

  /* Lines */
  .bottom-line {
    display: inline-block;
    font-size: calc-unit-rem(64px);
    border-bottom: 3px solid $white;
  }
  /* COMMON CSS */
  .title {
    padding-left: 10px;
    border-left: 6px solid #fbb317;
    h1 {
      margin-bottom: 10px;
    }
  }

  /* END BOXS */
  /*---- Animation ----*/

  /* 애니메이션 진입 및 진출은 다른 지속 시간 및  */
  /* 타이밍 기능을 사용할 수 있습니다. */
  .slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }

}
