#app {
  .notification-container {
    position: relative;
    .notification-main {
      position: fixed;
      right: 50px;
      top: 50px;
      width: 350px;
      z-index: 1;
      padding: 15px;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0px 0px 5px 2px grey;
      opacity: 0;

      .icon {
        text-align: center;
        margin-bottom: 5px;
      }
      p {
        color: #4b4b4b;
        font-weight: bold;
        text-align: center;
      }
      &.active {
        animation: notification 3s ease-in;
      }
      @keyframes notification {
        0% {
          opacity: 0;
        }
        20%, 50%, 80% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    }
  }
}
