@import '../../../setting';

#maxst-util-typer {
  :lang(ko) {
    span {
      font-size: calc-unit-rem(70px) !important;
    }
  }
  .cursor-blinker {
    font-style: normal;
    display: inline-block;
    color: #fff;
    font-size: inherit;
    font-weight: normal;
    opacity: 1;
    animation: blinker .5s infinite;
    @keyframes blinker{
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
    }
  }
}
