.ui-upload-wrap{
    border: 1px solid #444;
    padding: 14px;
}
.ui-upload-wrap hr {
    margin: 10px;
}
.ui-upload-container {
    height: 100px;
    overflow: auto;
}
.ui-upload-block {
    display: flex;
    justify-content:space-between;
    transition:all 0.3s ease;
}
.ui-upload-block .ui-upload__fileName {
    -ms-flex: 1 1 30%;
    -webkit-flex: 1 1 30%;
    flex: 1 1 30%;
}
.ui-upload-block .ui-upload__fileName .fa-image {
    margin: 0 5px;
}
.ui-upload-block .ui-upload__error {
    -ms-flex: 1 1 50%;
    -webkit-flex: 1 1 50%;
    flex: 1 1 50%;
    color: #dc3545;
}
.ui-upload-block .ui-upload__fileSize {
    -ms-flex: 1 1 10%;
    -webkit-flex: 1 1 10%;
    flex: 1 1 10%;
}
.ui-upload-block .ui-upload__status {
    -ms-flex: 1 1 5%;
    -webkit-flex: 1 1 5%;
    flex: 1 1 5%;
}
.ui-upload-block .ui-ui-upload__cancel {
    -ms-flex: 1 1 5%;
    -webkit-flex: 1 1 5%;
    flex: 1 1 5%;
}
.ui-upload-summary {
    text-align: left;
}
.ui-upload-summary .ui-upload-summary__desc {
    color: #dc3545;
}

.ui-upload-summary__progressbar-block {
    height: 5px;
    background: #e8e8e8;
}

.ui-upload-summary__progressbar {
    width: 0;
    max-width: 100%;
    height: 100%;
    background: #00c3b3;
    transition:width 0.3s ease;
}

.ui-upload-summary__progressba {
    height: 100%;
}