#app {
  .pagination-container {
    text-align: center;
    margin-top: 15px;
    .pagination {
      display: inline-block;
      padding-left: 0;
      margin: 20px 0;
      border-radius: 4px;

      & > li {
        display: inline;
        & > a,
        & > span {
          position: relative;
          float: left;
          cursor: pointer;
          padding: 6px 12px;
          line-height: 1.42857143;
          text-decoration: none;
          background-color: #fff;
          border: 1px solid #ddd;
          &.active {
            color: #fcb416;
            border-color: #fcb416;
            cursor: default;
          }
        }
      }
      &>.disabled>a, &>.disabled>a:focus, &>.disabled>a:hover, &>.disabled>span, &>.disabled>span:focus, &>.disabled>span:hover {
        color: #777;
        cursor: not-allowed;
        background-color: #fff;
        border-color: #ddd;
      }

    }
  }
}
