<template>
  <div class="pagination-container" v-if="pages.length > 0">
    <div class="pagination-main">
      <P>
        Page {{settings.pageIndex}} of {{settings.totalPageCount}}
      </P>
      <ul class="pagination">
        <li class="PagedList-skipToFirst" v-if="pages[0] > 1">
          <a role="button" @click="handlePageSelected(1)">««</a>
        </li>
        <li class="PagedList-skipToPrevious" v-if="settings.pageIndex !== 1">
          <a rel="prev" @click="handlePageSelected(prev)">«</a>
        </li>
        <li v-for="page in pages">
          <span class="active" v-if="settings.pageIndex === page">{{page}}</span>
          <a role="button" class="" v-else @click="handlePageSelected(page)">{{page}}</a>
        </li>
        <li class="PagedList-skipToNext" v-if="settings.pageIndex !== settings.totalPageCount">
          <a rel="next" @click="handlePageSelected(next)">»</a>
        </li>
        <li class="PagedList-skipToLast" v-if="pages[pages.length - 1] < settings.totalPageCount">
          <a role="button" @click="handlePageSelected(settings.totalPageCount)">»»</a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
    export default {
        name: 'pagination',
        props: {
            limit: {
                type: Number
            },
            settings: {
                required: true,
                default: function () {
                    return {
                        hasNextPage: false,
                        hasPreviousPage: false,
                        isFirstPage: true,
                        isLastPage: true,
                        pageIndex: 1,
                        pageSize: 1,
                        totalItemCount: 1,
                        totalPageCount: 1
                    }
                }
            }
        },
        watch: {
        },
        data: function () {
            return {
                item: {aaa: 'aaa'}
            }
        },
        computed: {
            pages () {
                if (this.settings === null || this.settings.totalPageCount === 0) {
                    return [];
                }
                let totalPageCount = this.settings.totalPageCount;
                let limit = this.limit;
                let left, right;
                left = right = this.settings.pageIndex;

                let index = 1;
                while (index <= limit - 1) {
                    if (left > 1) {
                        left--;
                        index++;
                    } else if (right < totalPageCount) {
                        right++;
                        index++;
                    } else {
                        index++;
                    }
                }

                let range = [];
                for (let i = left; i <= right; i++) {
                    range.push(i);
                }
                return range;
            },
            prev () {
                return this.settings.pageIndex - 1;
            },
            next () {
                return this.settings.pageIndex + 1;
            }
        },
        created () {
        },
        mounted () {
            this.$nextTick(() => {
            });
        },
        methods: {
            handlePageSelected (selected) {
                if (this.selected === selected) return;
                this.$emit('pageChanged', selected)
            }
        },
        components: {
        }

    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  @import "Pagination.scss";
</style>
