<template>
  <div class="toastPopup">
    <h1>{{ msg }}</h1>
  </div>
</template>

<script>
export default {
  name: 'ToastPopup',
  data () {
    return {
      msg: 'ToastPopup Page'
    }
  }
}
</script>

<style scoped lang="scss">
  @import "ToastPopup.scss"
</style>
