<template>
    <div class="canvas_drawing__draw" v-show="status === 'CAPTURE'">
        <canvas class="canvas_block" id="canvas-capture" ref="canvasCaptureView" :width="width" :height="height"
        ></canvas>
        <canvas class="canvas_block" id="canvas-draw" ref="canvasDrawView" :width="width" :height="height"
                @mousedown="mouseDown" @mousemove="mouseMove" @mouseup="mouseUp"
        >
        </canvas>
        <div class="icon_area" v-html="iconArea">

        </div>
    </div>
</template>

<script>
    import * as THREE from 'three';

    export default {
        name: 'CanvasDrawView',
        props: ['width', 'height', 'isClear'],
        data () {
            return {
                title: 'CanvasDrawing',
                MOUSE_TOLERANCE: 2,
                mousePressed: false,
                canvas: null,
                whiteCanvas: null,
                whiteContext: null,
                context: null,
                startX: 0,
                startY: 0,
                mostLeft: 0,
                mostRight: 0,
                mostTop: 0,
                mostBottom: 0,
                meshes: [],
                drawPoints: [],
                uiMode: '',
                color: {r: 255, g:255, b: 255, 1}
            }
        },
        computed: {
        },
        watch: {
            uiMode (newValue, oldValue) {
                if (newValue !== 'INIT') {
                } else if (newValue === 'INIT') {
                    this.context.clearRect(0, 0, this.context.canvas.width, this.context.canvas.height); //이건 캔버스 클리어 할때 쓴다
                }
            },

            isClear () {
                if (this.isClear) {
                    this.iconArea = " ";
                }
            },
            color (newValue, oldValue) {
            },
        },
        mounted () {
            this.$nextTick(() => {
                this.canvas = this.$refs.canvasDrawView;
                this.context = this.canvas.getContext('2d');
            });
        },
        methods: {
            mouseDown(event) {
                if (this.uiMode !== 'DRAWING') {
                    return false;
                }
                let x = event.pageX - this.canvas.getBoundingClientRect().x;
                let y = event.pageY - this.canvas.getBoundingClientRect().y;
                this.mousePressed = true;

                this.drawPoints = [];
                this.drawLine(this.context, x, y, false);
                this.startX = x;
                this.startY = y;
            },
            mouseMove(event) {
                if (this.uiMode !== 'DRAWING' || this.drawMode !== 'pen') {
                    return false;
                }

                let x = event.pageX -  this.canvas.getBoundingClientRect().x;
                let y = event.pageY - this.canvas.getBoundingClientRect().y;

                let point = {x, y};
                if (this.mousePressed) {
                    if (this.drawPoints.length > 0) {
                        // 마우스 감도 조정
                        let dx = Math.abs(x - this.startX);
                        let dy = Math.abs(y - this.startY);

                        if (dx < this.MOUSE_TOLERANCE || dy < this.MOUSE_TOLERANCE) {
                            return
                        }
                    }

                    console.log('mousemove', point);
                    // end gl draw
                    let points = this.drawPoints.slice();
                    points.push(point);
                    this.drawPoints = points;
                    this.drawLine(this.context, x, y, true, this.color);
                    this.startX = x;
                    this.startY = y;
                } else {
                }

            },
            mouseUp(event) {
                let x = event.pageX - this.canvas.getBoundingClientRect().x;
                let y = event.pageY - this.canvas.getBoundingClientRect().y;
                console.log({x, y})
                let point = {x, y};
                let points = this.drawPoints.slice();
                points.push(point);

                const ctx = this.context
                //ctx.save();
                //ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height); 이건 캔버스 클리어 할때 쓴다

                //ctx.restore();
                this.drawPoints = points;
                this.mousePressed = false;
            },
            mouseLeave(event) {
            },
            drawLine(ctx, x, y, isDown, color = {'r': 164, 'g': 255, 'b': 72, 'a': 1}) {
                let rgba = 'rgba(' + color.r + ',' + color.g + ',' + color.b + ',' + color.a + ')';

                if (isDown) {
                    ctx.save();
                    ctx.beginPath();
                    ctx.strokeStyle = rgba;
                    ctx.lineWidth = this.fontSize;
                    ctx.lineJoin = 'round';
                    ctx.lineCap = 'round';
                    //ctx.shadowBlur = 2;
                    ctx.shadowColor = `rgb(${this.color.r}, ${this.color.g}, ${this.color.b})`;
                    ctx.moveTo(this.startX, this.startY);
                    ctx.lineTo(x, y);
                    ctx.closePath();
                    ctx.stroke();
                    ctx.restore();
                }


            },
        },
        components: {
        }
    }
</script>

<style scoped lang="scss">
    @import "CanvasDrawing.scss";
</style>
