.canvas_drawing__draw {
  canvas {
    position: absolute;
    top: 0;
    left: 0;

    &#canvas-capture {
      z-index: 500;
      background: transparent;
    }
    &#canvas-draw {
      z-index: 900;
      background-color: transparent;
    }
  }

  /deep/ .icon_area {
    z-index: 700;

    img.icon {
      z-index: 800;
      position: absolute;
      //top: 0;
      //left: 0;
    }
  }
}

 .canvas_drawing__gl{
    /deep/ canvas {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 700;
    }
}
