<template>
  <div class="change-password_popup_wrapper">
    <div class="change-password-popup">
      <h1 class="margin-bottom-20">비밀번호 변경</h1>
      <div class='input-box02 margin-bottom-20'>
        <span>현재 비밀번호</span>
        <div class='input-wrapper' :class="{'warn': !validation.oldPassword.valid}">
          <label v-if="isVisibieOldPassword">
            <input type="text" ref="idRef"
                   v-model="scheme.oldPassword.value"
                   v-on:keyup.enter="onChangePassword"
                   @change="checkOneFiled('oldPassword')"
                   autofocus/>
          </label>
          <label v-if="!isVisibieOldPassword">
            <input type="password" ref="idRef"
                   v-model="scheme.oldPassword.value"
                   v-on:keyup.enter="onChangePassword"
                   @change="checkOneFiled('oldPassword')"
                   autofocus/>
          </label>
          <span class='icon' v-if="isVisibieOldPassword" @click="isVisibieOldPassword = false">
                    <vue-material-icon name="visibility"></vue-material-icon>
                </span>
          <span class='icon' v-if="!isVisibieOldPassword" @click="isVisibieOldPassword = true">
                  <vue-material-icon name="visibility_off"></vue-material-icon>
                </span>
        </div>
        <span>새 비밀번호</span>
        <div class='input-wrapper' :class="{'warn': !validation.newPassword.valid}">
          <label v-if="isVisibieNewPassword">
            <input type="text" ref="idRef"
                   v-model="scheme.newPassword.value"
                   v-on:keyup.enter="onChangePassword"
                   @change="checkOneFiled('newPassword')"
                   autofocus/>
          </label>
          <label v-if="!isVisibieNewPassword">
            <input type="password" ref="idRef"
                   v-model="scheme.newPassword.value"
                   v-on:keyup.enter="onChangePassword"
                   @change="checkOneFiled('newPassword')"
                   autofocus/>
          </label>
          <span class='icon' v-if="isVisibieNewPassword" @click="isVisibieNewPassword = false">
                    <vue-material-icon name="visibility"></vue-material-icon>
                </span>
          <span class='icon' v-if="!isVisibieNewPassword" @click="isVisibieNewPassword = true">
                  <vue-material-icon name="visibility_off"></vue-material-icon>
                </span>
        </div>
        <span>새 비밀번호 확인</span>
        <div class='input-wrapper' :class="{'warn': !validation.newPassword2.valid}">
          <label v-if="isVisibieNewPassword2">
            <input type="text" ref="idRef"
                   v-model="scheme.newPassword2.value"
                   v-on:keyup.enter="onChangePassword"
                   @change="checkConfirmPassword('newPassword2')"
                   autofocus/>
          </label>
          <label v-if="!isVisibieNewPassword2">
            <input type="password" ref="idRef"
                   v-model="scheme.newPassword2.value"
                   v-on:keyup.enter="onChangePassword"
                   @change="checkConfirmPassword('newPassword2')"
                   autofocus/>
          </label>
          <span class='icon' v-if="isVisibieNewPassword2" @click="isVisibieNewPassword2 = false">
                    <vue-material-icon name="visibility"></vue-material-icon>
                </span>
          <span class='icon' v-if="!isVisibieNewPassword2" @click="isVisibieNewPassword2 = true">
                  <vue-material-icon name="visibility_off"></vue-material-icon>
                </span>
        </div>
      </div>
      <div class="error margin-bottom-10">
        <p><small class="font-danger ">{{this.errorMsg}}</small></p>
      </div>
      <p class="margin-bottom-35">비밀번호는 영문+숫자+특수 문자 조합, 최소 8자 이상 16자 이하로 입력하셔야 합니다.</p>
      <div class="button_group text-center margin-bottom-20">
        <button class="btn02 bg-black02" @click="onChangePassword" :disabled="!isEnable || doing.status">
          <span v-if="!doing.status">변경</span>
          <div v-if="doing.status" class="loader"></div>
        </button>
        <button v-if="cancelBtn" class="btn02 bg-grey01" @click="onClose" :disabled="doing.status">취소</button>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex'

  export default {
    name: 'ChangePassword',
    props: {
      cancelBtn: {
        type: Boolean,
        required: false,
        default: false,
      },
    },
    data () {
      return {
        scheme: {
          oldPassword: {
            value: '',
            required: true,
            validator: this.validationFunc
          },
          newPassword: {
            value: '',
            required: true,
            validator: this.validationFunc
          },
          newPassword2: {
            value: '',
            required: true,
            validator: this.validationFunc
          }
        },
        validation: {
          oldPassword: {valid: false, error: ''},
          newPassword: {valid: false, error: ''},
          newPassword2: {valid: false, error: ''},
        },
        isVisibieOldPassword: false,
        isVisibieNewPassword: false,
        isVisibieNewPassword2: false,
        errorMsg: '',
        isEnable: false
      }
    },
    computed: {
      ...mapState('account', ['status', 'doing', 'error']),
    },
    watch: {
      status (newValue, oldValue) {
      }
    },
    mounted () {
      this.$nextTick(() => {
        console.log('login mounted')
        // this.accountInit();
      });
    },
    methods: {
      ...mapActions('global', ['openToastPopup', 'closeToastPopup']),
      ...mapActions('account', ['changePassword']),
      validationFunc (field) {
        let passwordRules = /^[A-Za-z0-9]{6,12}$/gi;
        let valid = passwordRules.test(field.value);
        let validMsg = {};
        if (valid) {
          validMsg = {
            valid: true,
            error: ''
          }
        } else {
          validMsg = {
            valid: false,
            error: '비밀번호 조건에 부합하지 앖습니다.'
          }
        }
        return validMsg;

      },
      onChangePassword () {
        this.isEnable = Object.values(this.validation).every((item) => {
          return item.valid
        });
        if(this.isEnable) {
          let oldPassword = this.scheme.oldPassword.value;
          let newPassword = this.scheme.newPassword.value;
          this.changePassword({oldPassword, newPassword}).then((res) => {
            this.$emit('complete');
          }).catch(errorMessage => {
            this.openToastPopup({
              title: '',
              content: errorMessage,
              type: 'confirm',
              callback: () => {
                this.closeToastPopup();
              }
            })
          });
        }
      },
      hasValidationError (name) {
        if (this.validation.hasOwnProperty(name)) {
          return this.validation[name].error;
        }
        return '';
      },
      checkOneFiled (field) {
        let validation = this.$helpers.validator.one(this.scheme[field]);
        if (!validation.valid) {
          this.errorMsg = validation.error;
        } else {
          this.errorMsg = '';
        }
        return this.validation[field] = validation;
      },
      checkConfirmPassword (field) {
        if (this.scheme.newPassword.value !== this.scheme.newPassword2.value) {
          this.validation[field].valid = false;
          this.errorMsg = this.validation[field].error = '새 비밀번호가 일치 하지 않습니다.';
        } else if (this.scheme.oldPassword.value === this.scheme.newPassword.value) {
          this.validation[field].valid = false;
          this.errorMsg = this.validation[field].error = '비밀번호가 일치 합니다.';
        } else {
          this.checkOneFiled(field);
          this.checkAllFiled();
        }
      },
      checkAllFiled () {
        this.isEnable = Object.keys(this.validation).every((key) => {
          return this.validation[key].valid
        });
      },
      onClose () {
        this.$emit('close');
      }
    },
    components: {
    },
    beforeDestroy () {
      console.log('destroyed')
    },
  }
</script>

<style scoped lang="scss">
  @import "ChangePassword";
</style>
