<template>
  <div class="itemPanel no-drag">
    <div class="">
      <h1 class="support_title" @click="close = !close;">
        <button class="arrow_down" v-if="close">
          <vue-material-icon name="keyboard_arrow_down" :size="20" ></vue-material-icon>
        </button>
        <button class="arrow_right" v-else>
          <vue-material-icon name="keyboard_arrow_right" :size="20" ></vue-material-icon>
        </button>
        {{title}}
      </h1>
      <ul :class="{closed: close}">
        <li v-for="(item, index) in items" :class="{selected: item.isSelected === true}"  @click="selectItem(item, $event)">
          <img :src="item.src" :class="{ sub : item.small === true }" />
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  import { mapState, mapActions, mapMutations } from 'vuex'
  import {vivar, canvasUtill} from '@/api'

  export default {
    name: 'ItemPanel',
    props: {
      title: {
        type: String,
        required: false,
        default: '제목',
      },
      items: {
        type: Array,
        required: true
      },
    },
    data () {
      return {
          close: false,
      }
    },
    computed: {
    },
    watch: {
      selectedItem () {
      }
    },
    updated() {
      this.$nextTick(function () {
        // 모든 화면이 렌더링된 후 실행합니다.
      })
    },
    methods: {

      selectItem (_item, event) {
        this.$emit('select', _item);
      },
    }
  }
</script>

<style scoped lang="scss">
  @import "ItemPanel.scss";
</style>
