.itemPanel {
  h1 {
    border-bottom: 1px solid #666666;
  }

  ul {
    width: 268px;
    background: #49494d;
    overflow:hidden;
    max-height: 500px;
    transition: max-height 0.3s cubic-bezier(0, 1, 0.5, 1);
    &.closed {
      max-height: 0;
    }
    li {
      display: inline-block;
      width: 25%;
      height: 50px;
      background: #49494d;
      border-bottom: 1px solid #666666;
      border-right: 1px solid #666666;
      text-align: center;
      line-height: 59px;
      cursor: pointer;

      img {
        width: 31%;
        vertical-align: sub;
        padding-bottom: 1px;
        display: inline-block;
      }

      img.sub {
        width: 22%;
        vertical-align: sub;
        padding-bottom: 0px;
      }

      .login_wrapper {
        text-align: center;
        height: 100vh;

        .login {
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
          position: relative;
        }
      }
    }

    li.selected {
      background: #3ac6dd;
    }

    li:hover {
      background: #3b3a3d;
    }

    li.selected:hover {
      background: #3ac6dd;
    }

    .remain {
      display: inline-block;
      margin-left: -4.5px;

      li {
        cursor: default;
      }

      li:hover {
        background: #49494d;
      }

      li:nth-child(4n+1) {
        border-left: 1px solid #666666;
      }

      li:last-child {
        border-right: none;
      }
    }

    li:nth-child(-n+5) {
      border-top: none;
    }
  }
}
