<template>
  <div class="flexible-group-list_wrapper">
    <div class="item" v-for="item in items" v-bind:key="item.id">
      <div class="content">
        <h1>{{item.name}}</h1>
        <p>{{item.section}}</p>
      </div>
      <div class="close" @click="onCancel(item)">
        <vue-material-icon name="clear" :size="12"></vue-material-icon>
      </div>
    </div>

  </div>
</template>

<script>

  export default {
    name: 'FlexibleGroupList',
    props: {
      items: {
        type: Object,
        required: false,
        default: () => []
      },
    },
    data () {
      return {
      }
    },
    mounted () {
      this.$nextTick(() => {
      });
    },
    computed: {
      inputSize: function () {
      },
    },
    methods: {
      onCancel (item, index) {
        event.stopPropagation()
        this.$emit('cancel', item, index)
      },
    },
    components: {
    }
  }
</script>

<style scoped lang="scss">
  @import "FlexibleGroupList.scss";
</style>
