.flexible-group-list_wrapper {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 70px;
  .item {
    position: relative;
    font-size: 10px;
    color: #000000;
    -webkit-align-items: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #dadce0;
    -webkit-border-radius: 10px;
    display: inline-flex;
    width: 90px;
    height: 44px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    padding: 8px 6px;
    margin: 5px;
    white-space: nowrap;

    .content {
      h1, p {
        display: block;
        max-width: 80px;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
    h1 {
      font-weight: bold;
      font-size: 12px;
    }
    .close {
      position: absolute;
      top: -10px;
      right: -5px;
      width: 20px;
      height: 20px;
      color: #ffffff;
      border-radius: 50%;
      background-color: #da3a1e;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}


