<template>
  <div class="panel no-drag">
    <div class="">
      <h1 class="title" @click="close = !close;">
        <button class="arrow_down" v-if="close">
          <vue-material-icon name="keyboard_arrow_down" :size="20" ></vue-material-icon>
        </button>
        <button class="arrow_right" v-else>
          <vue-material-icon name="keyboard_arrow_right" :size="20" ></vue-material-icon>
        </button>
        {{title}}
        <div class="button_group">
          <button class="rec_button" v-for="(button, index) in buttons" :key="index" @click="onClick">
            {{button}}
          </button>
        </div>
      </h1>
      <div class="content" :class="{closed: close}">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>

  export default {
    name: 'BasicPanel',
    props: {
      title: {
        type: String,
        required: false,
        default: '제목',
      },
      buttons: {
          type: Array,
          required: false,
      },
    },
    data () {
      return {
          close: false,
      }
    },
    computed: {
    },
    watch: {
      selectedItem () {
      }
    },
    updated() {
      this.$nextTick(function () {
        // 모든 화면이 렌더링된 후 실행합니다.
      })
    },
    methods: {
      onClick () {
        this.$emit('editMode');
      }
    }
  }
</script>

<style scoped lang="scss">
  @import "BasicPanel";
</style>
