.panel {
  h1 {
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    border-bottom: 1px solid #666666;
    width: 100%;
    height: 30px;
    display: flex;
    line-height: 30px;
    text-align: center;
    font-size: 11px;
    color: #ffffff;
    background-color: #737373;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;

    .button_group {
      margin-right: 10px;
      button {
      }
    }
    .material-icon {
      margin-top: 4.5px;
      position: absolute;
    }
  }

  .content {
    width: 100%;
    overflow: hidden;
    max-height: 500px;
    transition: max-height 0.3s cubic-bezier(0, 1, 0.5, 1);

    &.closed {
      max-height: 0;
    }
  }
}
